{% extends "home/layout.html" %}
      
      {% block body %}
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" role="listbox" style=" width:100%; height: 500px !important;">
          <div class="carousel-item active">
            <img src="../static/images/slide1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../static/images/slide3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../static/images/slide4.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
        </header>

        <main>
          <div class="page-section">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                  <div class="subhead">About Us</div>
                  <h2 class="title-section">We are <span class="fg-primary">Professional Trainner</span> to Growth your MUSCLE!!</h2>

                  <p>Takeitboii ให้บริการเทรนเนอร์ส่วนตัวโดยที่คุณไม่จำเป็นต้องเข้ายิม! เทรนเนอร์ของเราพร้อมให้คำแนะนำคุณผ่านวิดิโอคอล มีระบบTracking system เพื่อติดตามผลลัพธ์ของคุณ </p>

                  <a href="{% url 'about:index' %}" class="btn btn-primary mt-4">Read More</a>
                </div>
                <div class="col-lg-6 py-3">
                  <div class="about-img">
                    <img src="../static/images/about.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- .page-section -->

          
    <!-- .news -->
          <div class="page-section">
            <div class="container">
              <div class="text-center">
                <div class="subhead">News</div>
                <h2 class="title-section">ข่าวสารสุขภาพที่น่าสนใจ</h2>
              </div>

              <div class="row my-5 card-blog-row">
                <div class="col-lg-3 py-3">
                  <div class="card-blog"> 
                    <div class="header">
                      <div class="entry-footer">
                        <div class="post-author">Mr.Sung Pah Mok</div>
                        <a href="#" class="post-date">23 Apr 2021</a>
                      </div>
                    </div>
                    <div class="body">
                      <div class="post-title"><a >กินเจ64 กินอย่างไรให้ถูกหลัก</a></div>
                      <div><img src="static/assets/img/bg_image_1.jpg" alt="" width="200" height="150"></div>
                      <div><a>เริ่มแล้วกับเทศกาล "กินเจ 2564" หลายคนเริ่มปรับเปลี่ยนเมนูจากอาหารปกติ มากิน "อาหารเจ" 
                      เพื่อเป็นการ "ล้างท้อง" ก่อนที่จะเข้าสู่ประเพณีกินเจ 
                      เต็มรูปแบบในวันพุธ 6 ตุลาคม 2564...</a></div>
                    </div>
                    <div class="footer">
                      <a href="{% url 'News:news-list' %}">Read More <span class="mai-chevron-forward text-sm"></span></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 py-3">
                  <div class="card-blog">
                    <div class="header">
                      
                      <div class="entry-footer">
                        <div class="post-author">Mr.Tung Hatyai</div>
                        <a href="#" class="post-date">19 Apr 2021</a>
                      </div>
                    </div>
                    <div class="body">
                      <div class="post-title"><a >เฝ้าระวังโรคและภัยสุขภาพ ช่วงฤดูหนาว</a></div>
                      <div><img src="static/assets/img/bg_image_1.jpg" alt="" width="200" height="150"></div>
                      <div><a>เริ่มเข้าสู่ช่วงปลายฝนต้นหนาว จึงได้มีการออกประกาศป้องกันโรคและภัยสุขภาพในช่วงฤดูหนาวปีนี้
                      เน้นดูแลสุขภาพและป้องกันตนเองจาก 4 โรคติดต่อ และ 1 ภัยสุขภาพที่สำคัญ เพื่อป้องกันควบคุมการแพร่ระบาดของโรคต่างๆ
                      ลดการเจ็บป่วยและเสียชีวิต...</a></div>
                    </div>
                    <div class="footer">
                      <a href="{% url 'News:news-list' %}">Read More <span class="mai-chevron-forward text-sm"></span></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 py-3">
                  <div class="card-blog">
                    <div class="header">
                      
                      <div class="entry-footer">
                        <div class="post-author">Mr.James Thief Form</div>
                        <a href="#" class="post-date">15 Apr 2021</a>
                      </div>
                    </div>
                    <div class="body">
                      <div class="post-title"><a href="blog-single.html">วิธีปฐมพยาบาล หากเกิดอาการบาดเจ็บ สำหรับนักวิ่ง นักออกกำลังกาย</a></div>
                      <div><img src="static/assets/img/bg_image_1.jpg" alt="" width="200" height="150"></div>
                      <div class="post-excerpt">สำหรับนักวิ่ง นักปั่น รวมถึงผู้รักการออกกำลังกาย ที่กำลังสับสนกันอยู่ หากเกิดอาการบาดเจ็บขึ้นมา เช่น บริเวณกล้ามเนื้อ 
                      เส้นเอ็น หรือมีการบวมช้ำ ระหว่างการวิ่ง การปั่น หรือออกกำลังกายชนิดต่างๆ เราๆ ท่านๆ ควรจะปฐมพยาบาล เพื่อบรรเทาอาการนั้นๆด้วยวิธีการใด 
                      ระหว่างการประคบเย็น หรือประคบร้อน...</div>
                    </div>
                    <div class="footer">
                      <a href="{% url 'News:news-list' %}">Read More <span class="mai-chevron-forward text-sm"></span></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 py-3">
                  <div class="card-blog">
                    <div class="header">
                      
                      <div class="entry-footer">
                        <div class="post-author">Mantis guy</div>
                        <a href="#" class="post-date">10 Apr 2021</a>
                      </div>
                    </div>
                    <div class="body">
                      <div class="post-title"><a href="blog-single.html">หาแรงจูงใจใหม่ในการออกกำลังกาย</a></div>
                      <div><img src="static/assets/img/bg_image_1.jpg" alt="" width="200" height="150"></div>
                      <div class="post-excerpt">บางคนคิดว่าการวิ่งออกกำลังกายมันเป็นกิจกรรม ที่ (อาจจะ) 
                      ดูน่าเบื่อสักหน่อยกับการใส่รองเท้าและออกไปวิ่ง ถ้าใครคิดแบบนั้น ลองมาเพิ่มสีสันการวิ่ง ด้วย 8 ปัจจัยนี้ 
                      ลองดูไหม…จะทำให้การวิ่งในความคิดของคุณเปลี่ยนไป อาจจะมีอะไรสนุกๆกับการออกกำลังกายมากขึ้น 
                      ว่าแต่จะมีวิธีใดบ้าง เราไปดูกัน...
                      </div>
                    </div>
                    <div class="footer">
                      <a href="{% url 'News:news-list' %}">Read More <span class="mai-chevron-forward text-sm"></span></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <a href="{% url 'News:news-list' %}" class="btn btn-primary">View More</a>
              </div>
              <!-- .news -->
            </div> <!-- .container -->
          </div> <!-- .page-section -->

          

          <div class="page-section">
            <div class="container-fluid">
              <div class="row row-cols-md-3 row-cols-lg-5 justify-content-center text-center">
                <div class="py-3 px-5">
                  <img src="../assets/img/clients/airbnb.png" alt="">
                </div>
                <div class="py-3 px-5">
                  <img src="../assets/img/clients/google.png" alt="">
                </div>
                <div class="py-3 px-5">
                  <img src="../assets/img/clients/mailchimp.png" alt="">
                </div>
                <div class="py-3 px-5">
                  <img src="../assets/img/clients/paypal.png" alt="">
                </div>
                <div class="py-3 px-5">
                  <img src="../assets/img/clients/stripe.png" alt="">
                </div>
              </div>
            </div> <!-- .container-fluid -->
          </div> <!-- .page-section -->

        </main>
        {% endblock %}
        


  
