
{% extends "home/layout.html" %}

{% block body %}
        <!--
        <div class="container">
            <h1>ข่าวสารสุขภาพที่น่าสนใจ</h1>
            {%  for post in all_posts %}
                <ul>
                    <li><a href="{% url 'News:news-details' post.id %}">{{ post.title }}</a></li>
                </ul>
            {%  endfor %}
        </div>-->
        <hr>
        <div class="container">
            <h1>ข่าวสุขภาพที่น่าสนใจ</h1>
        <div class="col-md-15">
            <div class="row">
                {%  for post in all_posts %}
              <div class="col-md-5">
                <div class="cn-img">
                  <div class="cn-title">
                    <a href="{% url 'News:news-details'  post.id %}"><img src="{{ post.pic1.url }} "style="margin-top: 30px; width: 20%; height: 20%" /></a >
                    <a href="{% url 'News:news-details'  post.id %}">{{post.title}}</a >
                  </div>
                  {% if request.user.is_superuser %}
          <div class="cn-title">
            <a href="{% url 'News:new_delete'  post.id %}">delete news &#x2716</a>
          </div>

          {%endif%}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
</div>
<br>
<br>
<br>
{% endblock %}
