{% extends "home/layout.html" %}

  {% load static %}
  
  {% block body  %}
  

              {% if course_details %}
                  <body>
                  <br></br>
                  <br></br>
                  <h1 align = 'center'>{{ course_details.name }}</h1>
                  
                  <p>{{ course_details.info | safe }}</p>
                  </body>
              
                  
                  {{x}}
                  <p><a href="{% url 'Courses:apply' course_details.id %}"  class="btn btn-success">Apply course &#128221</a></h3>
                  <p><a href="{% url 'Courses:remove' course_details.id %}" class="btn btn-danger">&#9888 Remove course &#9888</a></h3>
              {% endif %}   
              
            </div>
            


  {% endblock %}

