{% extends "home/layout.html" %}

{% block body %}
<hr>
<div class=" container">
    <h2>Select Time</h2>
    <div class="panel panel-default py-5">
        <div class="panel-body">
            <div class="card-body">
                <div class="row">
                   
                    <div class="col-lg-6">
                        <section id="form-wrapper">
                            <form method="POST" class="appointment-form">{% csrf_token %}
                                example : 2021-11-21 {{ form.date }}
                                {{ form.timeslot }}
                                <button type="submit" class="btn btn-primary">Save</button>
                                

                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr>
{% endblock %}