{% extends "home/layout.html" %}

{% block body %}

<body>
    <style>
        .profile-pic {
            width: 200px;
            height: 200px;
            overflow: hidden;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
        }
    </style>

    <hr>
    <div class=" container">
        <div class="vg-page page-about" id="about">
            <div class="row">

                <div class="col-md-12">
                    <h1>SELECT YOUR TR</h1>
                </div>
                <div class="col-md-12">
                    <div class="slideshow-container">

                        <div  class="container">
                            <img class="profile-pic"  style='display: block;margin-left: auto;margin-right: auto;width: 20%;' src="{{trainer.profile_pic.url}}">
        
                            <div class="row">
                                <div class="col-md-3" >
                                </div >
                                <li style="text-align: center;">name: {{trainer}}</li>
                                <li style="text-align: center;">age: {{trainer.age}}</li>
                                <li style="text-align: center;">gender: {{trainer.gender}}</li>
                                <li style="text-align: center;">info: {{trainer.bio}}</li>
                                <li style="text-align: center;">skill: {{trainer.specialist}}</li>
                                <li style="text-align: center;"> tel: {{trainer.tel}}</li>
                               
    
                                <div style="text-align: right;">
                                    <a href="{% url 'Courses:slidenext' course.id count_tr %}"
                                        class="btn btn-primary">next
                                    </a>

                                </div>
                                <div style="text-align: left;">
                                    <a href="{% url 'Courses:slideback' course.id count_tr %}"
                                        class="btn btn-primary">back
                                    </a>

                                </div>

                            </div>
                            <form method="POST">
                                {% csrf_token %}

                                {{y.age}}
                                <div style="text-align: center;">
                                    <input type="submit" name="trainer" value="{{trainer.id}}">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</body>
{% endblock %}