{% extends "home/layout.html" %}
<!DOCTYPE html>
<html>

  {% load static %}
  
  {% block body  %}

            <hr>
            <div class="container"  >
              {% if single_post %}
                  <body>
                  <br></br>
                  <br></br>
                  <h1 align = 'center'>{{ single_post.title }}</h1>
                  
                  <br>  
                  <div align="center">
                  <img src="{{single_post.pic1.url}}"  class="center"  width="600" height="400">
                  
                  </div>
                  
                  <br></br>
                  <p>{{ single_post.context | safe }}</p>
                  </body>
                  <br>
                  <h1 style="text-align:right;"> Price {{ single_post.price }} Bath</h1>
              {% endif %}
            </div>
            
  {% endblock %}
</html>
