<!DOCTYPE html>
<html>
    
<head>
	<title>Body Test</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">BODY TEST</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<div class="d-flex justify-content-center links">
						<a>{{bmi}}</a>
					</div>
					<h1></h1>
					<form method="POST" action="">
						{% csrf_token %}
						<div >
							<label for="bmi">Enter your weight and height:</label>
									<br><br>
  										<input type="text" id="user_weight" name="weight" pattern="[0-9]{1,8}" placeholder="enter your weight in kg"><br><br>
  									<br><br>
									  <input type="text" id="user_height" name="height" pattern="[0-9]{1,8}" placeholder="enter your height in cm"><br><br>
  								<input type="submit" value="submit">
						</div>
						<div class="d-flex justify-content-center links">
							result: {{ result }}
						</div>
						<div class="d-flex justify-content-center links">
							wanna go home? <a href="{% url 'home:index' %}" class="ml-2">Click here</a>
							want to see our course? <a href="{% url 'Users:register' %}" class="ml-2">Click here</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>